[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-script = "*"
flask-wtf = "*"
flask-markdown = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
